.homepage__container {
  /* border: 1px solid red; */
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}
.homepage__left-container {
  min-height: 75vh;
  background-color: rgb(219, 162, 109);
  padding: 0 1.25rem;
  padding-top: 3rem;
}
.homepage__left-container h1 {
  color: white;
  font-size: 56px;
}
.homepage__left-price {
  /* border: 1px solid white; */
}
.homepage__left-price h2 {
  color: white;
}
.homepage__left-price p {
  color: rgb(161, 158, 158);
  font-weight: 500;
}
.homepage__left-container h3 {
  margin-top: 3rem;
  color: wheat;
}
.homepage__left-container button {
  color: white;
  margin-top: 5rem;
  padding: 1rem 3rem;
  border-radius: 3rem;
  border: none;
  background: #ac590c;
}

.homepage__right-container {
  /* background-color: rgb(228, 128, 34); */
  overflow: hidden;
  width: 100vw;
  height: 75vh;
}
/* .homepage__right-slider:nth-child(1) {
  border: 1px solid red;
  width: 250px;
  height: 250px;
} */
.homepage__right-slider:nth-child(1) {
  /* border: 1px solid rgb(77, 71, 71); */
  width: 250px;
  height: 250px;
  /* margin: 5rem 0; */
}
.slider {
  min-height: 75vh;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider:nth-child(2) {
  /* border: 1px solid blue; */
  background-image: url(https://cdn.cdnparenting.com/articles/2018/11/26142239/298564550-H-1024x700.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.slider:first-child {
  /* border: 1px solid blue;8 */
  background: #ac590c;
  display: flex;
  align-items: center;
  min-height: 75vh;
}
.slider:nth-child(3) {
  background-image: url(https://cdn.dribbble.com/userupload/3678392/file/original-6ebe531e476e9738eff6fb1b221a3296.jpg?compress=1&resize=1200x900);
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 1px solid red; */
}

@media screen and (min-width: 780px) {
  .homepage__right-slider:nth-child(1) {
    /* border: 1px solid rgb(196, 21, 21); */
    width: 350px;
    height: 350px;
    /* margin: 5rem 0; */
  }
}

@media screen and (min-width: 1024px) {
  .homepage__container {
    /* border: 1px solid red; */
    max-width: 100vw;
    overflow-x: hidden;
    /* height: 100vh; */
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
  }
  .homepage__left-container {
    width: 50vw;
    /* min-height: 100vh; */
  }
  .homepage__right-container {
    width: 50vw;
    /* min-height: 100vh; */
    height: fit-content;
  }
  .slider:first-child {
    /* border: 1px solid blue;8 */
    background: #ac590c;
    display: flex;
    align-items: center;
    min-height: 100vh;
  }
  .slider:nth-child(3) {
    min-height: 100vh;
  }
}
.slider:nth-child(2) {
  min-height: 100vh;
}
